<app-mange-game [userA]="userA" [userB]="userB"></app-mange-game>
<hr>
<div class="container">
        <div class="row">
            <div *ngIf="userA.active"> Turn - User A</div>
            <div *ngIf="userB.active"> Turn - User B</div>
        </div>
        <div class="container">
            <div class="row" *ngFor="let row of matrix">
                <div class="col" *ngFor="let col of row">
                  <app-box [box]="col" (selectedBoxEvent)="onBoxClick($event)"></app-box>
                </div>
            </div>
        </div>
</div>

<button type="button" (click)="newGame()" class="btn btn-primary">New Game</button>
